body {
    background-image: url(bgdesign.jpg);
}
.border {
    border: 2px solid rgb(152, 9, 130);
    box-shadow: 10px 10px  rgb(152, 9, 130);
    padding: 100px;
    width: 50%;
    background-image: url(design.jpg);
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    color: white;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    box-sizing: border-box;

}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

label {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    font-size: 20px;
    color:white;
}
input[type="range"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    color: rgb(152, 9, 130);
}
.sliders {
    width: 100%;
    position: relative;
  }
  
  .sliders input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: linear-gradient(to right, rgb(255, 173, 228), rgb(255, 70, 237), rgb(177, 0, 135)); /* Set the background color for the track */
    border: none;
    outline: none;
    border-radius: 5px;
  }
  
  .sliders input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Set the width of the thumb */
    height: 20px; /* Set the height of the thumb */
    background: rgb(88, 0, 165); /* Set the background color of the thumb */
    border-radius: 50%; /* Make the thumb round */
    cursor: pointer;
  }
  